= semantic_form_for [:admin, resource] do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs do
    = f.input :user_id, as: :hidden
    %li#search_user_input
      %label 所属用户
      %input{type: 'text', disabled: 'disabled', value: resource.user&.nick_name}
      %label &nbsp;
      =link_to '搜索用户', search_user_modal_admin_users_path, remote: true
      - resource.errors[:user_id].each do |err|
        %p.inline-errors=err
    = f.input :position
    = f.input :memo
  = f.actions

