= semantic_form_for [:admin, resource] do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs do
    = f.input :option_type_alias
    = f.input :limit_times
    = f.input :points
    = f.input :option_type
    = f.input :icon
    = f.input :opened
  = f.actions
